* {
    margin: 0;
    padding: 0;
    font-family: 'Supreme', sans-serif;
    scroll-behavior: smooth;
}

header ul li a{
    transition: 0.6s ease
}

.bg-image,
.bg-gray {
    border-radius: 50px;
}

.bg-image {
    background-image: url(bg-home-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.215);
}

@media (max-width: 1023px) {
    .bg-image {
        background-position: center;
    }

    .bg-image,
    .bg-gray {
        border-radius: 0px;
    }
}

.bg-gray {
    background-color: rgba(54, 54, 54, 0.434);
}

.cards-hover {
    transition: 0.6s ease;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.167);
}

@media (min-width:1024px) {
    .cards-hover:hover {
        margin-top: -7vh;
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.29);
    }
}

.scrolle-hidden::-webkit-scrollbar {
    width: 0;
}

.button-slide{
    transition: 0.6s ease;
}